@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
* {
  margin: 0;
}
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f74c0;
  font-family: 'Neucha', cursive;
}

.heading {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 1rem;
  z-index: 1;
}
@media (max-width: 768px) {
  .heading {
    font-size: 35px;
    margin: 15px 0;
  }
}