@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
* {
  margin: 0;
}
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f74c0;
  font-family: 'Neucha', cursive;
}

.heading {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;
  color: orange;
  margin: 1rem 0;
  z-index: 1;
}
@media (max-width: 768px) {
  .heading {
    font-size: 35px;
    margin: 15px 0;
  }
}

.logout_btn {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: 10rem;
}

.btn {
  background-color: #2f74c0;
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

@media screen and (max-width: 768px) {
  .btn {
    font-size: 1.1rem;
  }
  .logout_btn {
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: 1rem;
}
}

.notloggedin_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.not_loggedin {
  margin: 10rem 0;
}