@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
* {
  margin: 0;
}
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
  330deg,
  hsl(217deg 94% 75%) 0%,
  hsl(216deg 94% 76%) 12%,
  hsl(216deg 94% 76%) 19%,
  hsl(215deg 94% 77%) 25%,
  hsl(214deg 94% 77%) 29%,
  hsl(214deg 94% 77%) 33%,
  hsl(213deg 94% 78%) 37%,
  hsl(213deg 94% 78%) 41%,
  hsl(212deg 94% 79%) 44%,
  hsl(212deg 94% 79%) 47%,
  hsl(211deg 94% 80%) 51%,
  hsl(210deg 94% 80%) 54%,
  hsl(210deg 93% 81%) 57%,
  hsl(210deg 93% 81%) 61%,
  hsl(209deg 93% 82%) 64%,
  hsl(209deg 92% 82%) 68%,
  hsl(208deg 92% 83%) 71%,
  hsl(208deg 91% 84%) 76%,
  hsl(207deg 90% 84%) 80%,
  hsl(207deg 90% 85%) 86%,
  hsl(206deg 89% 85%) 100%
);
  font-family: 'Neucha', cursive;
}

.heading {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;
  color: orange;
  margin: 1rem 0;
  z-index: 1;
}
@media (max-width: 768px) {
  .heading {
    font-size: 35px;
    margin: 15px 0;
  }
}

.logout_btn {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: 10rem;
}

.btn {
  background-image: linear-gradient(
  330deg,
  hsl(217deg 94% 75%) 0%,
  hsl(216deg 94% 76%) 12%,
  hsl(216deg 94% 76%) 19%,
  hsl(215deg 94% 77%) 25%,
  hsl(214deg 94% 77%) 29%,
  hsl(214deg 94% 77%) 33%,
  hsl(213deg 94% 78%) 37%,
  hsl(213deg 94% 78%) 41%,
  hsl(212deg 94% 79%) 44%,
  hsl(212deg 94% 79%) 47%,
  hsl(211deg 94% 80%) 51%,
  hsl(210deg 94% 80%) 54%,
  hsl(210deg 93% 81%) 57%,
  hsl(210deg 93% 81%) 61%,
  hsl(209deg 93% 82%) 64%,
  hsl(209deg 92% 82%) 68%,
  hsl(208deg 92% 83%) 71%,
  hsl(208deg 91% 84%) 76%,
  hsl(207deg 90% 84%) 80%,
  hsl(207deg 90% 85%) 86%,
  hsl(206deg 89% 85%) 100%
);
  color: orange;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  /* transition: all 1s ease-in-out; */
}

@media screen and (max-width: 768px) {
  .btn {
    font-size: 1.1rem;
  }
  .logout_btn {
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: 1rem;
}
}

.notloggedin_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.not_loggedin {
  margin: 10rem 0;
}